.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 0 2rem 0;
    scroll-snap-align: start;

    &_main {
        background: url('../../assets/img/header.webp') no-repeat;
        background-size: cover;
        background-position: 15% 50%;
        display: flex;
        justify-content: right;
        align-items: end;

        &__title {
            display: flex;
            flex-direction: column;
            text-align: right;
            //font-size: 5rem;
            font-size: clamp(1.5rem, 8vw, 5rem);
            color: white;
            padding: 0 3rem 3rem 0;
            letter-spacing: .15rem;
        }
    }

}