@import './nav/all.scss';
@import "./header/all.scss";
@import './section/all.scss';
@import './swiper/all.scss';

@font-face {
    font-family: 'readex';
    src: url('../assets/font/ReadexPro-Regular.ttf');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'readex', Arial, sans-serif;
}

.h1,
.h2,
.h3 {
    margin: 0;
}


